<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="300 seconds">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-30(%d{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX", UTC} [%thread] %-5level) %-15logger{15} - %msg %n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!--
        Development
    -->
    <springProfile name="dev">
        <logger name="org.springframework" level="INFO"/>
        <logger name="org.springframework.data.document.mongodb" level="DEBUG"/>
        <logger name="org.springframework.boot.autoconfigure.security" level="INFO"/>
        <logger name="org.springframework.boot.context.embedded.tomcat.TomcatEmbeddedServletContainer" level="INFO"/>

        <root level="DEBUG">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <!--
        Production
    -->
    <springProfile name="test,stage,prod">
        <property name="LOG_PATH" value="/var/log/tdm/" />
        <property name="LOG_FILE" value="tdm"/>

        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_PATH}/${LOG_FILE}.log</file>
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <charset>UTF-8</charset>
                <pattern>%-30(%d{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX", UTC} [%.16thread] %-5level) %-15logger{15} - %msg %n</pattern>
                <immediateFlush>true</immediateFlush>
                <outputPatternAsHeader>true</outputPatternAsHeader>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                <fileNamePattern>${LOG_PATH}/${LOG_FILE}.%i.log.gz</fileNamePattern>
                <minIndex>1</minIndex>
                <maxIndex>15</maxIndex>
            </rollingPolicy>
            <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                <MaxFileSize>10MB</MaxFileSize>
            </triggeringPolicy>
        </appender>

        <logger name="org.hibernate" level="WARN"/>
        <logger name="org.springframework.boot.context.embedded.tomcat.TomcatEmbeddedServletContainer" level="INFO"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE" />
        </root>
    </springProfile>
</configuration>
